/*----- LAYOUT -----*/
.bd-grid{
    max-width: 1200px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--black-color);
}